* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* display: flex; */
  justify-content: center;
  background-color: grey;
  /* width: 100vw; */
  /* align-items: center; */
  height: max-content;
  /* padding: 20px 0; */
  padding-bottom: 30px;
}
.navbar {
  width: 100%;
  background-color: rgb(37, 87, 167);
    color: white;
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}