.section {
    display: flex;
    /* justify-content: space-between; */

    /* border: 1px solid black; */
    /* gap: 100px; */
    flex-direction: column;
}
.section-body {
    display: flex;
justify-content: space-between;
margin-top: 10px;
flex-direction: column;
}
.section-data {
display: flex;
justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}
.section-title {
    /* font-weight: bold; */
    border-bottom: 1px gray solid;
    padding-bottom: 5px;

}
.section-tasks {
    /* display: flex; */
margin-top: 10px;
}
.section-dates {
    color: gray;
}
.section-position {
    font-weight: bold;
    margin-bottom: 10px;
}
.section button {
background: transparent;
border: none;
}
.section button:hover{
background-color: seashell;
cursor: pointer;
}
.input-field input{
    margin-top: 5px;
    margin-bottom: 15px;
    height: 35px;
    width: 100%;
    padding: 5px 10px;
}
.input-field label {
    font-weight: bold;
    margin-bottom: 10px;
}
