.section {
    display: flex;
    /* justify-content: space-between; */

    /* border: 1px solid black; */
    /* gap: 100px; */
    flex-direction: column;
}
.section__body {
    display: flex;
justify-content: space-between;
margin-top: 20px;
flex-direction: column;
}
.section-data {
display: flex;
/* justify-content: space-between; */
    flex-direction: column;
    /* gap: 5px; */
}
.general {
font-size: 1.5rem;
margin-bottom: 10px;
}
.section__heading {
    /* font-weight: bold; */
    border-bottom: 1px gray solid;
    padding-bottom: 5px;
display: flex;
justify-content: space-between;
align-items: center;
}
.section-tasks {
    /* display: flex; */
margin-top: 10px;
list-style:disc;

}
.section-tasks li {
    margin-left: 25px;
}
.section-dates {
    color: gray;
    margin-top: 5px;
}
.section-position {
    font-weight: bold;
    /* margin-bottom: 10px; */

}
.section-place {
    margin-top: 10px;
}
/* .section button {
background: transparent;
border: none;
}
.section button:hover{
background-color: seashell;
cursor: pointer;
} */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-field {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.input-field input{
    margin-top: 8px;
    /* margin-bottom: 15px; */
    height: 40px;
    width: 100%;
    padding: 5px 10px;
}
.input-field label {
    font-weight: bold;
    font-size: 0.8rem;
    /* margin-bottom: 10px; */
}
button[type="submit"] {
    /* width: 25%; */
    justify-self: left;
}
.general-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.errors {
    color: red;
    margin-top: 10px;
    font-size: 0.8rem;
}
.input-field textarea {
width: 100%;
height: 100px;
margin-top: 5px;
padding: 10px 5px;
}
.btn--group {
margin-top: 20px;
    /* margin-bottom: 20px; */
}
.btn {
        padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.btn--icon {
    padding: 0 0;
    background: transparent;
}
.btn--save {
    background-color: rgb(37, 87, 167);
    color: white;
    margin-right: 15px;
}

.btn--save:hover {
    background-color: black;
    color: white;
}
.btn--cancel {
    background-color: transparent;
    color: rgb(37, 87, 167);
}
.btn--cancel:hover {
background-color: #EEF1FE;
}
.section__item--data {
    display: flex;
    justify-content: space-between;
}
.btn-group-view {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.section__body {
    /* margin-top: 20px; */
}
.section-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}